* {
  color: blue;
}

#displaySpan {
  font-size: 5vw;
  width: 100%;
  border: 1px solid black;
  text-align: right;
  display: block;
}

#calcTable {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

button {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 5vw;
}
