$shy-light: #dedede;
$shy-dark: #141414;
$shy-mid: #a063bc;
$color: #000;
$color: #000;
$color: #000;
$color: #000;

* {
  color: #0000ff;
}

body {
  background-color: #000;
}

#content {
  h1, a {
    text-align: center;
    width: 15vw;
    font-size: 3vw;
    margin: 0 auto;
    background-color: #515151;
    color: #111111;
  }

  // position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, #c8c8c8 20%, #525252 80%);

  #displaySpan {
    // position: absolute;
    // top: 1vh;
    font-size: 5vw;
    width: 100%;
    height: 100%;
    text-align: right;
    display: block;
    // padding: 1vw;
    color: #0000ff;
    border: 1px solid #000000;
  }

  #calcTable {
    // position: absolute;
    // top: 30vh;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 1px solid #000000;

    button {
      width: 100%;
      height: 100%;
      border-collapse: collapse;
      font-size: 5vw;
      color: $shy-dark;
      border: 1px solid #000000;

      &:hover {
        filter: invert(100%);
        transition: all 0.08s ease;
        box-shadow: inset 5px #ccc;
      }
    }

    #btnCancel {
      background-color: #ff0000;
      color: #000000;
    }
  }
}
